/* All */

body{
    background: url("intro.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    color: white;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    padding-top: 10px;
}

.header_logo{
    color: white;
    font-size: 50px;
    font-weight: 700;
    font-family: 'Edwardian Script ITC';
}

.header_logo:hover{
    color: white;
}

.header_settings{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Navigation */
.nav{
    font-size: 17px;
}

/*navigation settings */
.nav_settings{
    color: white;
    text-decoration: none;
    transition: color 0.2s linear;
    vertical-align: top;
    margin: 0 15px;

}

.nav_settings:hover{
 color: #6e0f48;
}

/* Intro */

.intro{
    width: 100%;
    height: 100vh;
}

.intro_title{
    color: white;
    font-size: 70px;
    font-weight: 700;
    text-align: center;
    padding-top: 250px;
}

.intro_after{
    color: white;
    font-size: 65px;
    font-weight: 700;
    text-align: center;
}

.btn{
    font-weight: 500;
    color: white;
    border: 3px solid white;
    padding: 10px 15px;
    text-decoration: none;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    top: 40px;
}

.btn:hover{
    background-color: white;
}


.intro_button:hover{
    color: white;
}

.intro settings{
    width: 100%;
    margin: 0 auto;
}

/* Service */

.service_body{
    background: url("kaka.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.table{
    color: white;
    width: 945px;
    margin-top: 4.5%;
    margin-left: 12%;
}

/* contacts */

.street_work{
    color: white;
    margin-top: 20%;
    margin-left: 15%;

}

.contact_work{
    color: white;
    margin-left: 5%;

}

/* work */

.our_work{
    color: white;
    text-align: center;
    margin-top: 10%;
}

.image_settings{
    text-align: center;
    margin-top: 5%;
}










